BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# CLOCK
LOCATE COMP "CLK_48" SITE "A7";
IOBUF  PORT "CLK_48" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# write to FLASH possible from user bitstream:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "LED_R" SITE "G1";
IOBUF  PORT "LED_R" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "LED_G" SITE "C1";
IOBUF  PORT "LED_G" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "LED_B" SITE "E1";
IOBUF  PORT "LED_B" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "USBH_DP" SITE "B1";
IOBUF  PORT "USBH_DP" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "USBH_DN" SITE "B2";
IOBUF  PORT "USBH_DN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
